<div class="navbar-container">
 @if(!showDropdown) {
  <ul #navbarMenu nz-menu nzMode="horizontal" class="navbar-menu" [style.display]="showDropdown ? 'none' : 'flex'">
    <li nz-menu-item [routerLink]="['/']">
      <span nz-icon nzType="home"></span>
      <span class="nav-text">Página Principal</span>
    </li>
    <li nz-submenu nzTitle="Zapatos" nzIcon="appstore">
      <ul>
        <li nz-menu-item [routerLink]="['/catalog']" [queryParams]="{ genre: 'hombre', category: 'zapatos' }">Hombre</li>
        <li nz-menu-item [routerLink]="['/catalog']" [queryParams]="{ genre: 'mujer', category: 'zapatos' }">Mujer</li>
      </ul>
    </li>
    <li nz-menu-item [routerLink]="['/catalog']" [queryParams]="{ category: 'bolsos' }">
      <span class="nav-text">Bolsos</span>
    </li>
    <li nz-menu-item [routerLink]="['/catalog']" [queryParams]="{ category: 'complementos' }">
      <span class="nav-text">Complementos</span>
    </li>
    <li nz-menu-item [routerLink]="['/about']">
      <span class="nav-text">Sobre Nosotros</span>
    </li>
  </ul>
  <div class="dropdown-container" [style.display]="showDropdown ? 'block' : 'none'">
    <a nz-dropdown nzTrigger="click" >
      <nz-icon nzType="menu" nzTheme="outline"></nz-icon>
    </a> 
  </div>
} @else {
   <!-- dropdow -->
  <app-dropdow></app-dropdow>
 }
</div>