.navbar-container {
 margin-left: 30px;
  
}

.navbar-menu {
  background: transparent;
  display: flex;
}

app-dropdow {
  margin-bottom: 30px;
  border-radius: var(--border-radius);
}

ul {
  background: transparent;
}

.dropdown-menu {
  background: var(--header-color);
}

@media (max-width: var(--max-width--laptops-big)) {
  .navbar-container {
    padding: 0 15px;
  }
}

@media (max-width: var(--max-width--laptops-small)) {
  .navbar-menu {
    font-size: 14px;
  }
}

@media (max-width: var(--max-width-tablets)) {
  .navbar-menu {
    font-size: 12px;
  }
}

@media (max-width: var(--max-width-smartphones)) {
  .navbar-menu {
    display: none;
  }

  .dropdown-container {
    display: block;
  }

  .dropdown-container a {
    font-size: 24px;
    color: #fff;
  }

  :host ::ng-deep .ant-dropdown-menu {
    background-color: var(--header-color);
  }

  :host ::ng-deep .ant-dropdown-menu-item,
  :host ::ng-deep .ant-dropdown-menu-submenu-title {
    color: #fff;
  }
}


:host ::ng-deep .ant-dropdown {
  z-index: 1000;
}