[nz-carousel-content] {
  text-align: center;
  height: 420px;
  line-height: 160px;
  background: var(--tertiary-color);
  color: #fff;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: var(--border-radius);
}

@media (max-width: var(--max-width--laptops-big)) {
  [nz-carousel-content] {
    height: 380px;
  }
}

@media (max-width: var(--max-width--laptops-small)) {
  [nz-carousel-content] {
    height: 340px;
  }
}

@media (max-width: var(--max-width-tablets)) {
  [nz-carousel-content] {
    height: 300px;
    line-height: 140px;
  }

  .image-wrapper {
    padding: 15px;
  }
}

@media (max-width: var(--max-width-smartphones)) {
  [nz-carousel-content] {
    height: 200px;
    line-height: 120px;
  }

  .image-wrapper {
    padding: 10px;
  }
}