/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color:rgb(237, 194, 243); //header
  --secondary-color: rgb(238, 206, 254); //body
  --tertiary-color: rgb(218, 193, 248); // components and buttons backgraund
  --fourth-color: rgb(190, 201, 252); // footer
  --font-color: rgb(114, 77, 13);
  --white-color: rgb(250, 250, 250);
  --borde-solid: rgb(154, 207, 245);
  --border-solid-weidth: 1.5px;
  --max-width-smartphones: 480px;
  --max-width-tablets: 768px;
  --max-width--laptops-small: 1024px;
  --max-width--laptops-big: 1280px;
  --max-width-hd: 1280px;
  --font-family: 'Montserrat', Arial, sans-serif;
  --font-size: 16px;
  --border-radius: 13px; 
  --box-shadow: 0 -2px 8px rgba(162, 89, 207, 0.08), 0 -1.5px 6px rgba(185, 122, 86, 0.07);
}

body {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: var(--font-size);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}