<div class="container">  
  <div style="margin-bottom: 8px;">
    @for(linkPage of footerModel.linksPagesAppModel; track footerModel) {
      <a [href]="linkPage.href" style="color: white; margin: 0 12px;"> {{ linkPage.text }} </a> | 
    } 
  </div>

  <nz-divider nzText="" nzOrientation="left"></nz-divider>
  @for (socialIcon of footerModel.socialIcons; track socialIcon) {
    <a [href]="socialIcon.href" target="_blank" rel="noopener noreferrer" class="social-icon">
      <button  nz-button nz-tooltip [nzTooltipTitle]="socialIcon.message" [nzTooltipColor]="presetColors[6]" class="social-icon">
        <img [src]="socialIcon.img" [alt]="socialIcon.alt" class="icon">
      </button>
    </a>
  }
  <p style="padding: 10px;">{{footerModel.copyright}}</p>
  
</div>